<app-header></app-header>
<div class="dashboard">
  <div class="dashboard__welcome">
    <h2>
      ¡Hola¡ <span>{{ firstName }}</span> 👋
    </h2>
    <p>Aquí tienes un resumen de tus viajes y actividades recientes</p>
  </div>

  <div class="dashboard__summary">
    <app-summary-card
      icon="bi bi-airplane"
      [value]="3"
      label="viajes activos"
    ></app-summary-card>
    <app-summary-card
      icon="bi bi-alarm"
      [value]="12"
      label="días hasta el próximo viaje"
    ></app-summary-card>
    <app-summary-card
      icon="bi bi-box2"
      [value]="3"
      label="votaciones pendientes"
    ></app-summary-card>
  </div>
</div>
